#page-landing {
    margin: 0 5rem;
  }
  
  .landing-container {
    display: grid;
    place-items: center;
    height: 85dvh;
  }
  
  .landing-text {
    font-size: 10rem;
    font-weight: 400;
  }

  @media screen and (max-width: 1230px) {
    .landing-text {
      font-size: 12.75vw;
      font-weight: 400;
    }
  }

    @media screen and (max-width: 768px) {
      .landing-text {
        font-size: 11.875vw;
        font-weight: 400;
      }
  }

  @media screen and (max-width: 576px) {
    #page-landing {
      margin: 0 0.938rem;
    }

    .landing-container {
      display: grid;
      place-items: center;
      height: 85dvh;
    }

    .landing-text {
      font-size: 14.25vw;
      font-weight: 400;
    }
  }